@charset "utf-8";
body {
	background-color: #FFEBCD;
	width: 1890px;
	height: 1080px;
}
h1 {
	text-align: center;
	font-size: 285%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	background-color: #FFDAB9;
}
#container {
	position: relative;
	width: 1890px;
	height: 1080px;
}
#first_image {
	position: absolute;
	left: 15%;
	top: 1%;
	width: 280px;
	height: 335px;
}
#first_text {
	position: absolute;
	top: 5%;
	font-size: 165%;
	left: 31%;
	right: 15%;
	padding-left: 1%;
	padding-right: 1%;
	border-width: thin;
	border-style: dashed;
}
#second_image {
	position: absolute;
	bottom: 30%;
	right: 15%;
}
#second_text {
	position: absolute;
	right: 33%;
	bottom: 30%;
	left: 15%;
	font-size: x-large;
}
#bottom_text {
	position: absolute;
	font-size: x-large;
	bottom: -15%;
	left: 35%;
}
